@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.sidebar-brand-text,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
}

.highlight {
    background-color: var(--color-code-background);
}


.landing {
    text-align: center;
    padding-top: 2em;
    background-color: var(--color-background-secondary);
    min-height: 100vh;
}

.landing h1 {
    font-size: 600%;
    color: var(--color-brand-primary);
}

.landing h2 {
    font-size: 200%;
    font-family: var(--font-stack);
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.landing img {
    max-height: 670px;
}

.landing input {
    padding: 16px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

/* CSS */
.button-landing {
    background-color: #535353;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    /* display: inline-block; */
    font-family: var(--font-stack--monospace);
    font-size: 104%;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 30px 20px 20px 20px;
    outline: none;
    padding: 10px 16px;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* fa-brands fa-solid fa-gitlab fa-1x */

.button-landing:hover,
.button-landing:focus {
    background-color: var(--color-brand-primary);
}

dd strong {
    font-family: var(--font-stack--monospace);
  }
